body {
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
    color: white;
  }
  
  header {
    background-color: black;
    padding: 20px;
    text-align: center;
  }
  
  header nav a {
    color: white;
    margin: 0 30px;
    text-decoration: none;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }